NEXT_PUBLIC_SOLANA_CLUSTER=mainnet-beta
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_INVISIBLE_COORDINATOR_WS_URL=wss://tee-azure.invisible.exchange/ws-noise
NEXT_PUBLIC_INVISIBLE_REQUIRED_MODE=prod
NEXT_PUBLIC_INVISIBLE_RELEASE_MRTD=ff450b138c5ee6734a43dc35afb437abfa24ef743bc9e9484ef4af365fcd89a6c50913248ed7fcb92a7d42b1ba7da984
NEXT_PUBLIC_INVISIBLE_AZURE_MAA_ISSUER=https://sharedweu.weu.attest.azure.net
NEXT_PUBLIC_INVISIBLE_AZURE_MAA_JWKS_URL=https://sharedweu.weu.attest.azure.net/certs
NEXT_PUBLIC_INVISIBLE_AZURE_MAA_POLICY_HASH=9NY0VnTQ-IiBriBplVUpFbczcDaEBUwsiFYAzHu_gco
